.lds-dual-ring {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 0.2em solid #f0ba18;
  border-color: #f0ba18 transparent #f0ba18 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}